.cards {
  column-count: 3; /* Количество колонок */
  column-gap: 15px; /* Отступы между колонками */
}

.card {
  width: 100%; /* Подгоняем ширину изображения под размер колонки */
  display: block; /* Убираем отступы у изображений */
  margin-bottom: 15px; /* Отступы между изображениями */
  break-inside: avoid; /* Предотвращает разрыв изображения внутри колонки */
}
